:root {
  --sunrise-yellow: #ffde16;
  --sunrise-dark: #33342e;
  --sunrise-light: #e3eddf;
}

* {
  font-family: "Source Sans Pro";
}

.layoutContainer {
  padding: 50px;
}

h1 {
  color: var(--sunrise-yellow);
  font-style: normal;
  font-weight: 900;
  font-size: 74px;
  line-height: 105%;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Source Code Pro";
  color: var(--sunrise-yellow);
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 100%;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
}

a {
  color: var(--sunrise-yellow);
}

.big-home-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.header {
  display: grid;
}

.header-title {
  color: var(--sunrise-yellow);
  font-style: normal;
  font-weight: 900;
  font-size: 74px;
  line-height: 78px;
  letter-spacing: 0.1em;
}

.section-title {
}

.section-text {
  margin: 30px;
}

.section {
  display: flex;
  flex-direction: row;
}

.section-vertical {
  display: flex;
  flex-direction: column;
}

.section-embedded {
  display: flex;
  flex-direction: row;
}

.calendar {
  margin: 20px;
}

.linked-button {
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 10px;
  width: fit-content;
  display: flex;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid white;
}

.footer-buttons {
  display: flex;
  align-content: flex-start;
  flex-direction: row;
}

.footer-buttons .linked-button {
  margin: 15px;
}

.footer-social {
  display: flex;
  align-content: flex-end;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
}

.footer-social-button {
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  color: var(--sunrise-dark);
  text-align: center;
  margin-left: 10px;
  padding: 10px;
  font-size: 2em;
}

/* Silly hack to fix white outline caused by react-router */
body,
.layoutContainer {
  background-color: var(--sunrise-dark);
}
