:root {
  --sunrise-yellow: #ffde16;
  --sunrise-dark: #33342e;
  --sunrise-light: #e3eddf;
  --cloudy-grey: #afb6b9;
}

* {
  font-family: "Source Sans Pro";
}

h1 {
  color: var(--sunrise-yellow);
  font-style: normal;
  font-weight: 900;
  font-size: 74px;
  line-height: 105%;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Source Code Pro";
  color: var(--sunrise-yellow);
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 100%;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: #ffffff;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
}

a {
  color: var(--sunrise-yellow);
}

.header {
  display: grid;
}

.header-title {
  color: var(--sunrise-yellow);
  font-style: normal;
  font-weight: 900;
  font-size: 74px;
  line-height: 78px;
  letter-spacing: 0.1em;
}

/* Silly hack to fix white outline caused by react-router */
body,
.narrowLayout,
.fullLayout {
  background-color: var(--sunrise-dark);
}
